@tailwind base;

body {
  @apply font-body;
}

h1 {
  @apply text-4xl font-display mb-6;
}

p {
  @apply mb-6;
}

a {
  @apply text-teal-700;
}

a:hover,
a:focus {
  @apply underline;
}

@tailwind components;
@tailwind utilities;

.tag {
	display: inline-block;
  
  width: auto;
	height: 38px;
	
	background-color: #95C92C;
	-webkit-border-radius: 3px 4px 4px 3px;
	-moz-border-radius: 3px 4px 4px 3px;
	border-radius: 3px 4px 4px 3px;
	
	border-left: 1px solid #95C92C;

	/* This makes room for the triangle */
	margin-left: 19px;
	
	position: relative;
	
	color: white;
	font-weight: 300;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 22px;
	line-height: 38px;

	padding: 0 10px 0 10px;
}

/* Makes the triangle */
.tag:before {
	content: "";
	position: absolute;
	display: block;
	left: -19px;
	width: 0;
	height: 0;
	border-top: 19px solid transparent;
	border-bottom: 19px solid transparent;
	border-right: 19px solid #95C92C;
}

/* Makes the circle */
.tag:after {
	content: "";
	background-color: white;
	border-radius: 50%;
	width: 4px;
	height: 4px;
	display: block;
	position: absolute;
	left: -9px;
	top: 17px;
}